.signup {
    position: absolute;
    height: 100%;
    top: 90px;
    background-color: rgb(138, 146, 187);
    display: flex;
    width: 100%;
    height: 100%;
}

.signup-png{
    position: relative;
    top: 150px;
    left: 5%;
    width: min-content;
}

.signupForm {
    border-radius: 40px;
    position: absolute;
    top: 70px;
    right: 5%;
    width: 400px;
    height: 70%;
}

.signupForm:hover{
    box-shadow: 0 5px 5px 5px rgba(0,0,0,1), 
    0 1px 1px 0 rgba(0,0,0,1), 
    0 1px 3px 0 rgba(0,0,0,1);
}

mat-card {
    width: 80%;
    margin: auto;
    border-color: aqua;
}

mat-form-field{
    width: 50%;
    padding: 10px 10px 10px 10px;
}
textarea {
    width: 100%;
}

button {
    margin-top: 20px;
}