

.Keyword {
  background-color: whitesmoke;
}

.search {
  background-color: whitesmoke;
  box-shadow: 0 5px 5px 5px whitesmoke, 
  0 1px 1px 0 whitesmoke, 
  0 1px 3px 0 whitesmoke;
  display: inline-flex;
  height: min-content;
  border-radius: 50px;
  height: 40px;
}

button {
  margin-left: 10px;
  border-radius: 30px;
}

.keyword {
  padding: 0 20px 0 0;
}

