.input-group{
    position: relative;
    left:146%;
    top: 660px;
    width: 500px;
}

.Keyword {
  background-color:rgb(250, 68, 153);
}

.search {
  background-color:  rgb(250, 68, 153);
  box-shadow: 0 5px 5px 5px rgb(250, 68, 153), 
  0 1px 1px 0 rgba(250, 68, 153,1), 
  0 1px 3px 0 rgba(250, 68, 153,1);
  display: inline-flex;
  height: min-content;
}

button {
  margin-left: 10px;
}

.keyword {
  padding: 0 10px 0 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #adf78b;
    opacity: 10; /* Firefox */
    position: relative;
    left: 10px;
  }

  .example-form-field {
  width: 200px;
  height: 40px;
  background-color: white;
}
