<div class="input-group">
  <mat-card class="search">
    <form [formGroup]="form">
      <mat-form-field class="Keyword" class="form">
        <mat-label>Keyword</mat-label>
        <input formControlName="keyword" matInput placeholder="" pattern="[a-zA-Z0-9]+" />
      </mat-form-field>
      <mat-form-field class="date" appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-dialog-actions>
        <button class="button" mat-raised-button color="primary" (click)="onSearch()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-dialog-actions>
    </form>
  </mat-card>
</div>
