<div class="input-group">
  <mat-card class="search">
    <form [formGroup]="form">
      <mat-form-field class="keywofsdfrd" class="form">
        <mat-label>Keyword</mat-label>
        <input formControlName="keyword" matInput placeholder="" pattern="[a-zA-Z0-9]+" />
      </mat-form-field>
      <mat-form-field class="date" class="form">
        <mat-label>Within Days</mat-label>
        <input matInput type="number">
      </mat-form-field>
      <mat-dialog-actions>
        <button class="button" mat-raised-button color="primary" (click)="onSearch()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-dialog-actions>
    </form>
  </mat-card>
</div>