

.Keyword {
  background-color:rgb(250, 68, 153);
}

.search {
  background-color:  rgb(250, 68, 153);
  box-shadow: 0 5px 5px 5px rgb(250, 68, 153), 
  0 1px 1px 0 rgba(250, 68, 153,1), 
  0 1px 3px 0 rgba(250, 68, 153,1);
  display: inline-flex;
  height: min-content;
  border-radius: 50px;
  height: 40px;
}

button {
  margin-left: 10px;
  border-radius: 30px;
}

.keyword {
  padding: 0 20px 0 0;
}

