<div class="input-group">
    <mat-card class="search" >
      <form>
        <mat-form-field class="keyword">
          <mat-label>Keyword</mat-label>
          <input matInput type="search">
        </mat-form-field>

        <mat-form-field class="date">
          <mat-label>Within Days</mat-label>
          <input matInput type="number">
        </mat-form-field>
        <button mat-raised-button color="primary">
          <mat-icon>search</mat-icon>
        </button>
      </form>
  </mat-card>
  </div>


