<div class="about">
    <div class="flexContainer">
        <div class="flexItemVert">
            <mat-card class="aboutBox">
                <h1 class="header1">About EmoteMap</h1>
                <p class="boxText">
                    EmoteMap exists to help address the global epidemic
                    of mental health issues. Inspired by our desire to share
                    emotions, EmoteMap helps you to connect with others
                    around the globe. Here's an example scenario that demonstrates
                    how EmoteMap works:
                    <br>
                    <br>
                    Let's say your government has announced another national
                    lockdown. You may start to feel less positive, and isolated.
                    You open up EmoteMap to make a post. You submit your
                    happiness rating (1-5), and the reason as to why you are
                    feeling how you are. EmoteMap will pin your anonymous post
                    to the globe, and will show you the pins and posts of others
                    who have reported similar levels of happiness and for similar
                    reasons. Furthermore, you can search pins and posts by keywords,
                    allowing you to see trends across the world.
                    <br>
                    <br>
                    The idea is to remind users that they are never alone in their
                    feelings. We currently live in a world that is dominated by a type
                    of social media that thrives on boastfulness and desire. EmoteMap
                    strives to be the opposite: to connect people based on real,
                    non-hidden emotion.
                    <br>
                    <br>
                    You are not alone...
                </p>
            </mat-card>
            <mat-card class="helplineBox">
                <h1 class="header2">Need support?</h1>
                <p class="boxText">
                    To find the recommended support services for your country, please see:
                    <br>
                    <br>
                    <a href="https://unitedgmh.org/mental-health-support" target="_blank">https://unitedgmh.org/mental-health-support</a>
                </p>
            </mat-card>
        </div>
        <div class="flexItemVert">
            <img class=image src="../assets/images/emotions.png">
            <div class="flexItemVert">
                <img class=image src="../assets/images/map.png">
            </div>
            <img class=image src="../assets/images/rightBottom.png">
        </div>
        <div class="flexItemVert">
            <img class=image top src="../assets/images/right.png">
            <div class="flexItemVert">
                <img class=image src="../assets/images/next.png">
            </div>
            <img class=image src="../assets/images/communities.png">
        </div>
        <div class="flexItemVert">
            
            <div class="flexItemVert">
                <img class=higherImage src="../assets/images/journal.png">
            </div>
        </div>
        <!-- <div class="flexItemVert">
            <img class=image src="../assets/images/journal.png">
            <img class=image src="../assets/images/communities.png">
        </div> -->
        
    </div>

    <div class="smallText">Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</div>