<div class="search">
  <div class="flexContainer">
    <div class="box">
      <h1 class="title">EmoteSearch</h1>
      <br /><br />
      <div class="input" style="position: relative; top: 3%;">
        <div class="age">
          <p>Age:</p>
          <ngx-slider class="slider" [(value)]="ageMin" [(highValue)]="ageMax" [options]="optionAge"
            (valueChange)="onChange()" (highValueChange)="onChange()"></ngx-slider>
        </div>
        <div class="days">
          <p>Days:</p>
          <ngx-slider class="sliderDay" [(value)]="daysMin" [(highValue)]="daysMax" [options]="optionDays"
            (valueChange)="onChange()" (highValueChange)="onChange()"></ngx-slider>
        </div>
        <div class="mood">
          <p>Mood:</p>
          <section class="moodCheck">
            <mat-checkbox [(ngModel)]="mood.copingWell" (change)="onChange()" color="primary">Coping Well
            </mat-checkbox>
            <mat-checkbox [(ngModel)]="mood.depression" (change)="onChange()" color="accent">Depression
            </mat-checkbox>
            <mat-checkbox [(ngModel)]="mood.anxiety" (change)="onChange()" color="warn">Anxiety</mat-checkbox>
          </section>
        </div>
        <div class="gender">
          <p>Gender:</p>
          <section class="genderCheck">
            <mat-checkbox [(ngModel)]="gender.male" (change)="onChange()" color="primary">Male</mat-checkbox>
            <mat-checkbox [(ngModel)]="gender.female" (change)="onChange()" color="accent">Female</mat-checkbox>
          </section>
        </div>
      </div>
      <div class="buttons">
        <section>
          <button mat-raised-button color="accent">Display Search</button>
        </section>
      </div>
    </div>
  </div>