<mat-toolbar class="toolbar_white" color="header">
  <a routerLink = ''> <img class="logo" width="80" height="80" alt="Earth Logo" src="./assets/logos/earth.png" /></a>
  <span class="Title">{{title}}</span>
  <div class="loginSect" *ngIf="!isLoggedIn">
    <span class="about">
      <a style="text-decoration: none;" routerLink='/about'>About</a>
    </span>
    <span class="signUp">
      <fa-icon routerLink = '/signup' [icon]="faUserPlus"></fa-icon>
    </span>
    <span routerLink = '/login' class="login" >
      <fa-icon [icon]="faSignInAlt"></fa-icon>
    </span>
  </div>
  <span class="aboutLI" *ngIf="isLoggedIn">
    <a style="text-decoration: none;" routerLink='/about'>About</a>
  </span>
</mat-toolbar>


