<mat-dialog-content>
    <h2 mat-dialog-title>Firstly, welcome to EmoteMap </h2>
    <p>Please explore the map. You can see the heat map of all user's post from inception</p>
    <p>Blue Posts = Happy</p>
    <p>Red Posts = Coping</p>
    <p>Red Posts = Sad</p>
    <p>If you would like to create an account, emote, connect, and search for trending emotions
        across the globe then please click "SignUp" :)
    </p>
    <p>Love from the Emote team</p>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-fab color="primary" (click)="onClose()" class="icon-display">
      <mat-icon class="mat-icon" inline="true">close</mat-icon>
    </button>
  
  </mat-dialog-actions>