<mat-card class="userpost">
  <form [formGroup]="service.form" class="normal-form">
    <div class="container">
      <mat-form-field>
        <input formControlName="rating" matInput placeholder="enter rating">
      </mat-form-field>
      <mat-form-field>
        <input formControlName="keyword" matInput placeholder="keyword for rating">
      </mat-form-field>
      <mat-form-field>
        <input formControlName="post" matInput placeholder="describe how you're feeling">
      </mat-form-field>
    </div>
  </form>

</mat-card>
