.example-form {
  position: relative;
  display: inline-flex;
  top: 95px;
  left: 5px;
  right: 0;
  height: 90px;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
