.vert-usertb{
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    display: block;
}

.space {
    height:30%;
}

.material-icons{
    position: relative;
    width: 100%;
    height: 110px;
    align-items: center;
    font-size: 60px;
    left: 12px;
    top: 10px;
    cursor: pointer;
}
