<div class="vert-usertb">
    <div class="material-icons" (click) = "clickKeyIcon()" *ngIf="!sidebarState.key">
        preview
    </div>
    <div class="material-icons" (click) = "clickKeyIcon()" *ngIf="sidebarState.key" id="clicked">
        preview
    </div>
    <div class="material-icons" (click) = "clickProfileIcon()" *ngIf="!sidebarState.profile">
        person
    </div>
    <div class="material-icons" (click) = "clickProfileIcon()" *ngIf="sidebarState.profile" id="clicked">
        person
    </div>
    <div class="material-icons"  (click) = "clickPostListIcon()" *ngIf="!sidebarState.userPosts">
        list_alt
    </div>
    <div class="material-icons" (click) = "clickPostListIcon()" *ngIf="sidebarState.userPosts" id="clicked">
        list_alt
    </div>
    <div class="material-icons"  (click) = "clickSearchIcon()" *ngIf="!sidebarState.search">
        search
    </div>
    <div class="material-icons"  (click) = "clickSearchIcon()" *ngIf="sidebarState.search" id="clicked">
        search
    </div>
    <div class="material-icons">
        settings
    </div>
    <div (click)="logOut()" class="material-icons" >
        logout
    </div>
    <app-postbutton *ngIf="isLoggedIn"></app-postbutton>
</div>>
