.vert-usertb{
    background-color: whitesmoke;
    width: 90px;
    height: 100%;
    display: block;
    border-color: black;
}

.space {
    height:20%;
}

.material-icons{
    position: relative;
    width: 100%;
    height: 110px;
    align-items: center;
    font-size: 60px;
    left: 12px;
    top: 10px;
    cursor: pointer;
}
