.login {
    position: absolute;
    height: 100%;
    top: 90px;
    background-color: rgb(138, 146, 187);
    display: flex;
    width: 100%;
    height: 100%;
}

.login-png{
    position: absolute;
    top: 50px;
    left: 10%;
}

.loginForm {
    border-radius: 40px;
    position: absolute;
    top: 70px;
    right: 5%;
    width: 400px;
    height: 70%;
}

.loginForm:hover{
    box-shadow: 0 5px 5px 5px rgba(0,0,0,1), 
    0 1px 1px 0 rgba(0,0,0,1), 
    0 1px 3px 0 rgba(0,0,0,1);
}