.user-profile {
    position: relative;
    bottom: 30px;
    width: 500px;
    height: 100%;
    background-color:   rgba(138, 146, 187,0.2);
    color: white;
    font-family: 'Arvo', serif;
    font-family: 'Fredoka One', cursive;
}

.dob-button {
    margin-left: 10px;
    border-radius: 30px;
    bottom: 15px;
    position: relative;
    height: 35px;
}

h1 {
    font-family: 'Arvo', serif;
    font-family: 'Fredoka One', cursive;
}

h2 {
    font-family: 'Arvo', serif;
    font-family: 'Fredoka One', cursive;
}