.user-profile {
    position: relative;
    bottom: 10px;
    width: inherit;
    height: 100%;
    background-color: white;
}

.dob-button {
    margin-left: 10px;
    border-radius: 30px;
    bottom: -1px;
    position: relative;
    height: 35px;
}