

.icon-display {
   transform: scale(2);
}
::ng-deep .custom-dialog  mat-dialog-container {
   background-color: rgb(85, 95, 148,0.3);
   justify-content: center;
   text-align: left;
   border-radius: 30px;
   overflow-y: hidden !important;
   overflow-x: hidden !important;

 }