.key {
    position: relative;
    width: 500px;
    height: 100%;
    background-color: rgba(85, 95, 148,0.2);
    font-family: 'Arvo', serif;
    font-family: 'Fredoka One', cursive;
}

.flexContainer {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 100%;
    width: 100%;
}

.box {
    position: relative;
    display: flex;
    top: 30px;
    border-radius: 30px;
    border-style: solid;
    border-width: 10px;
    border-color: white;
    height: 83%;
    width: 85%;
    background-color: transparent;
    flex-direction: column;
}

.items {
    flex-direction: column;
    justify-content: space-evenly;
    display: flex;
    height: inherit;
    position: relative;
    bottom: 70px;
}

.anx {
    flex-grow: 1;
}

.dep {
    flex-grow: 1;
}

.cop {
    flex-grow: 1;
}

.title {
    font-size: 40px;
    line-height: 1.6;
    text-align: center;
    color: white;
    font-family: 'Arvo', serif;
    font-family: 'Fredoka One', cursive;
    margin-top: 10px;
}

.text {
    font-size: 40px;
    line-height: 1.6;
    color: white;
    padding: 5px;
    text-align: center;
}

.image {
    width: 80px;
    margin-left: 25px;
}

p {
    position: relative;
    top: 50%;
}