<div class="key">
    <div class="flexContainer">
        <div class="box">
            <h1 class="title">EmoteKey</h1>
            <br><br>
            <div class="items">
                <div class="anx">
                    <p style="float: left;">
                        <img class=image src="../assets/images/negative.png">
                    </p>
                    <p class="text">Anxious</p>
                </div>
                <div style="clear: left;" class="dep">
                    <br>
                    <p style="float: left;">
                        <img class=image src="../assets/images/neutral.png">
                    </p>
                    <p class="text">Depressed</p>
                </div>
                <div style="clear: left;" class="cop">
                    <br>
                    <p style="float: left;">
                        <img class=image src="../assets/images/positive.png">
                    </p>
                    <p class="text">Coping Well</p>
                </div>
            </div>

        </div>
    </div>
</div>